* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: sans-serif;
    overflow-x: hidden;
}

nav{
    margin-top: 0px;
    width: 100vw;
    font-family: fantasy;
    height: 60px;
    box-shadow: 10px;
    border-radius: 10px;
    z-index: 99;
}

.logo {
    font-size: 35px;
    line-height: 80px;
    padding: 0px;
    margin: 40px;
}

nav ul {
    display: inline-block;
    float: center;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0px 10px;
}

.navbar #Contact {
    font-family: sans-serif;
    font-size: medium;
    display: inline;
    float: right;
    background-color: blue;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin-top: 35px;
    margin-right: 5%;
}


nav ul li a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-size: 17px;
    padding: 8px 10px;
    border-radius: 7px;
}
a.active, a:hover{
    background: darkgray;
    transition: .5s;
}

.mainImage{
    height: 300px;
    width: 100%;
}

@media screen and (min-width: 780px){
    .navbar {
        padding: 20px 10px !important;
    }

    .navbar ul li a{
        display: none;
        float: none;
        display: block;
        text-align: left;
    }

    .logo{
        display: hidden;
    }
    .about-grid-container{
        display: flex;
        flex-wrap: wrap;
    }

    .card .item{
        display: flex;
        flex-wrap: wrap;
    }

    .grid-container{
        display: flex;
        flex-wrap: wrap;
    }
}

.container{
    position: relative;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 37px;
    color: aliceblue;
    font-family: sans-serif;
}

p{
    font-size: 20px;
    margin-left: 12%;
    font-family: sans-serif;
}

.recipes{
    margin-top: 30px;
}

.recipes h5{
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 5px;
}

.recipesdetails li{
    font-size: 13px;
    margin: 7px;
}

.grid-container .card .item{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

div .item{
    margin: 50px;
    background-color: brown;
    width: 60%;
}

.card .item{
    display: grid;
    grid-template-rows: repeat(3);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 200px;
    height: 100%;
    border-radius: 50px;
}

.card .item:hover {
    box-shadow: 0 8px 16px 0 rgba(216, 20, 20, 0.2);


}
.items {
    margin-left: 50px;
}

.itempic {
    width: 200px;
    height: 200px;
}

.items p{
     font-size: 9px;
     margin: 0px;
}

.card {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 5%;
}

.item {
    margin: 10px;
}

.container {
    grid-area: header;
}

.recipes {
    grid-area: menu;
}

.card {
    grid-area: list;
}

.navbar {
    grid-area: nevigation;
}


.grid-container {
    display: grid;
    grid-template-areas: 
    "nevigation nevigation nevigation nevigation"
    "header header header header"
    "menu list list list"
    ;
    margin: 5%;
}

.footer {
    background-color: black;
    color: white;
}

.card-about {
    display: flex;
    justify-content: space-around;
    margin: 40px;
}

.aboutitempic {
    width: 550px;
    height: 250px;
}

/* 
.about-grid-container{
    display: flex;
    justify-content: space-around;
     
    margin: 5%;

} */

div #aboutcontact {
    font-size: 20px;
    margin-top: 25px;
    background-color: purple;
    border-radius: 3px;
    color: white;
    border-style: solid;
}

.half {
    grid-area: lefthalf;
}

.rightimage {
    grid-area: righthalf;    
}

.about-grid-container {
    display: grid;
    grid-template-areas: 
    "lefthalf lefthalf righthalf righthalf"
    ;
    margin: 5%;
}

.tags-card {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 40px;
    margin-top: 40px;
}

.cardd {
    background-color: gray;
    color: white;
    margin: 20px 20px 50px 40px;
    width: 80%;
    height: 60%;
    text-align: center;
    border-radius: 3px;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;    
}

.Recipescard{
    display: grid;
    grid-template-rows: repeat(3);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);;
    transition: 0.3s;
    width: 90%;
    height: 90%;
}

.navbar .icon {
    display: none;
  }
  
  